@using AlpTrips.Application.Dtos;
@{
    ViewData["Title"] = "Wyszykane wycieczki";
}

@model IEnumerable<TripDto>;

<div class="container">
    <h3 class="display-4">Wyszukane trasy</h3>
    <hr />
   
    <div class="row">

        @foreach (var trip in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="@trip.ImageUrl" class="img-thumbnail" />
                    <div class="card body">
                        <h3 class="card-title">@trip.Name</h3>
                        <p class="card-text">@trip.Description</p>
                        <ul class="list-group">
                            <li class="list-group-item trip-info-item"><span class="trip-info-item">Poziom trudności: </span>@trip.Level</li>
                            <li class="list-group-item trip-info-item"><span class="trip-info-item">Długość trasy: </span>@trip.Time</li>
                            <li class="list-group-item trip-info-item"><span class="trip-info-item">Przewyższenie: </span>@trip.Elevation</li>

                        </ul>

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btnbtn-group">
                                <a class="btn btn-sm btn-outline-secondary" asp-controller="Trip" asp-action="Details" asp-route-encodedName="@trip.EncodedName">Szczegóły</a>
                            </div>
                            <small class="text-muted">@trip.UserName</small>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>






























